
ScrollBar{
	-fx-background-color:derive(LightSeaGreen,50.0%);
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color :derive(LightSeaGreen,15.0%);
	-fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: LightSeaGreen;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.root {
    -fx-background-color: 
        #a6b5c9,
        linear-gradient(lightBlue 0%, #849cbb 10%,lightBlue 25%, #5877a2 50%, lightBlue 95%, #486a9a 100%);
}
AnchorPane{
    -fx-background-color: 
        #a6b5c9,
        linear-gradient(lightBlue 5%, #849cbb 10%,lightBlue 25%, lightBlue 50%, #486a9a 90%, lightBlue 100%);
}

#ForecastDisplay{
	-fx-background-color: #d4ffff;
}

Button {
	-fx-font-weight: bold;
	-fx-cursor: hand;
	-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
}
.button:hover{
	-fx-background-color: 
        lightblue,
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #88c6fb 25% , #88c6fb 55%, #d5faff 100%);
}

.button:focused{
	-fx-background-color: 
        lightblue,
        linear-gradient(#5a61af, #51536d),
        linear-gradient(DeepSkyBlue 0%, #e4fbff 5%,#cee6fb 15%, #88c6fb 25% , #88c6fb 55%, #d5faff 95%, DeepSkyBlue 100%);
}

ToggleButton{
	-fx-cursor: hand;
	-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-font-weight: bold;
}

ToggleButton:selected{
	-fx-font-weight: bold;
	-fx-background-color: 
        lightblue,
        linear-gradient(#5a61af, #51536d),
        linear-gradient(DeepSkyBlue 0%, #e4fbff 5%,#cee6fb 15%, #88c6fb 25% , #88c6fb 55%, #d5faff 95%, DeepSkyBlue 100%);
}
ToggleButton:hover{
	-fx-font-weight: bold;
	-fx-background-color: 
        lightblue,
        linear-gradient(#5a61af, #51536d),
        linear-gradient(DeepSkyBlue 0%, #e4fbff 10%,#cee6fb 20%, #88c6fb 30% , #88c6fb 55%, #d5faff 90%, DeepSkyBlue 100%);
}
MenuButton{
	-fx-cursor: hand;
	    -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-font-weight: bold;
}

MenuButton:hover{
	-fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 15%, #849cbb 51%, #4a6c9b 100%);
}

MenuButton:focused{
	-fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 15%, #849cbb 51%, #4a6c9b 100%);
}


Label {
    -fx-font-family: 'Brush Script MT', cursive;
    -fx-font-size: 48px;
    -fx-border-color: transparent transparent #E8E8E8 transparent;

}
ScrollPane{
    -fx-background-color: 
        #a6b5c9,
        linear-gradient(lightBlue 0%, #849cbb 10%,lightBlue 30%, #5877a2 50%, #486a9a 90%, lightBlue 100%);
}
